<nav>
  {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
  {{/if}}
</nav>
<br />
<div>
  <lable for="company_name">Enter company name: </lable>
  <input type="text" id="company_name" />
</div >
<lable>PO number: <span id="po_number">xxxxx</span></lable>
<br />
<button type="button" class="btn btn-info" onclick=newCompany({{post.po_number}})>Enter</button>
{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/create.js"></script>
{{/if}}