<nav>
  {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
  {{/if}}
</nav>
<br />
<h1>PO number: {{po_number}}</h1>
<button type="button" class="btn btn-info">Info</button>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}