<form class="login-form">
    <h2>Login</h2>
    <div>
        <lable for="emp_number-login">Employee Number: </lable>
        <input type="text" id="emp_number-login" />
    </div>
    <div>
        <lable for="password-login">Password: </lable>
        <input type="text" id="password-login" />
    </div>
    <div>
        <button type="submit"> Login </button>
    </div>
</form>
<script src="/javascript/login.js"></script>


