<form class="signup-form">
  <h2>Sign up</h2>
  <div>
    <lable for="emp_number-signup">Employee Number: </lable>
    <input type="text" id="emp_number-signup" />
  </div>
  <div>
    <lable for="title-signup">Title: </lable>
    <input type="text" id="title-signup" />
  </div>
  <div>
    <lable for="first_name-signup">First name: </lable>
    <input type="text" id="first_name-signup" />
  </div>
  <div>
    <lable for="las_name-signup">Last name: </lable>
    <input type="text" id="last_name-signup" />
  </div>
  <div>
    <lable for="password-signup">Password: </lable>
    <input type="text" id="password-signup" />
  </div>
  <div>
    <button type="submit"> Signup </button>
  </div>
</form>
<script src="/javascript/signup.js"></script>